# Local source file
DATA_FILE=data/housing_data.csv

# dlt
DLT_PIPELINE_NAME=morocco_housing_ingestion
DLT_DATASET_NAME=raw_immobilier

# Optional: used by the verification script
DUCKDB_PATH=morocco_housing.duckdb
