.env
.dlt/
__pycache__/
*.pyc
*.duckdb.wal
.venv/
# ===== AJOUTS OBLIGATOIRES POUR DBT =====
target/
dbt_packages/
logs/
*.duckdb
*.db
transform/.user.yml
mlflow.db
mlartifacts/
data/stg_export.csv
mlruns/
# Generated ML runtime artifacts
comparaison_modeles.csv
feature_baseline.json